
export PERSONAL_KEY_NAME="Jon Bon Jovi <jbj@apple.com>"
export FLUX_KEY_NAME="flux-k8s (Flux) <flux@flux.com>"

export PERSONAL_KEY_FP=$(gpg --list-secret-keys "${PERSONAL_KEY_NAME}" | grep -Eo "\S{36,}")
export FLUX_KEY_FP=$(gpg --list-secret-keys "${FLUX_KEY_NAME}" | grep -Eo "\S{36,}")

# Cloudflare config for Certificates
export BOOTSTRAP_CLOUDFLARE_EMAIL="me@gmail.com"
export BOOTSTRAP_CLOUDFLARE_TOKEN="cloudflare api token here"
export BOOTSTRAP_DOMAIN="me.com"

# Github config & oauth allowed user
export BOOTSTRAP_GITHUB_REPOSITORY="https://github.com/<user>/<repo>"
export BOOTSTRAP_GITHUB_OAUTH_USER="<user>"

# IP Addresses
export BOOTSTRAP_METALLB_LB_RANGE="192.168.1.XXX-192.168.1.XXX"
export BOOTSTRAP_INGRESS_NGINX_LB="192.168.1.XXX"
export BOOTSTRAP_HOMEBRIDGE_ADDRESS="192.168.1.XXX"
export BOOTSTRAP_WIREGUARD_ADDRESS="192.168.1.XXX"
export BOOTSTRAP_POSTGRES_ADDRESS="192.168.1.XXX"
export BOOTSTRAP_MQTT_ADDRESS="192.168.1.XXX"

# NFS Server for file storage
export BOOTSTRAP_NFS_ADDRESS="192.168.1.XXX"

# Server addresses
export SERVER_USER=XXX
export SERVERS="192.168.1.XXX"
export WORKERS="192.168.1.XXX,192.168.1.XXX"